

<h2><%=pluralize( @article.comments.count, 'Comment')%></h2>

    <% @article.comments.each do |comment|  %>
        <hr>
        <p>
            <strong><%= comment.Commenter+": " %></strong>
            <%= comment.body  %>
        </p>
        <%= link_to 'Delete Comment', [comment.article , comment], method: :delete%>
        
        <hr>
        
        
    <%end%>

 

