<%if @article.errors.any? %>
    <h2><%= pluralize(@article.errors.count, "error" )%></h2>
    <ul>
      <% @article.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <%end%>
    </ul>
  <%end%>