<!DOCTYPE html>
<html>
  <head>
    <title>Practice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  <body>
        <h1>Article Controller Layout</h1>

            <%= yield %>

  </body>
</html>
